.course-list-column {
  padding: 0 var(--pgn-spacing-spacer-4);
}

.sidebar-column {
  background-color: red;
}
#course-filter-controls , .course-card-banners {
  display: none;
}



.course-card {
  width:300px;
}
.pgn__card > .flex-column > .d-flex{
  flex-direction : column;
}
