.course-list-column {
  padding: 0 var(--pgn-spacing-spacer-4);
}

#course-filter-controls , .course-card-banners , .sidebar-column, #dashboard-container .container-mw-xl.container-fluid .row .course-list-column .course-card .pgn__card .pgn__card-section, .course-card-banners , #course-filter-controls .btn {
  display: none !important;
}

.pgn__card-body .btn {
  background-color : #7C1A00;
  border: none;
}

.btn:not(:disabled,.disabled,.btn-link):hover {
  background-color : #FF6833;
}

#dashboard-container {
  min-height: 81vh;
}
